export ANSIBLE_CONFIG=/media/penguaman/code/ActualCode/IaC/robust_observation_stack/ansible/ansible.cfg
export ANSIBLE_HOST_KEY_CHECKING=False
export ANSIBLE_ROLES_PATH=/media/penguaman/code/ActualCode/IaC/robust_observation_stack/ansible/roles:/media/penguaman/code/ActualCode/IaC/robust_observation_stack/ansible/playbooks/roles:/media/penguaman/code/ActualCode/IaC/robust_observation_stack:/media/penguaman/code/ActualCode/IaC/robust_observation_stack/ansible/playbooks